.App {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-rows: 80px auto;
}

.App__header {
  color: var(--main-color-900);
  font-size: 2rem;
}

.App__content {
  padding: 1rem;
}

.SearchGroup {
  display: flex;
}

.App__content__results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
